{% extends "pam/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2>{% if object %}Editar{% else %}Nova{% endif %} Estação de Trabalho</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% if form.fields.category.disabled %}
                        <input type="hidden" name="category" value="{{ form.initial.category }}">
                    {% endif %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a href="{% url 'pam:workstation_list' %}" class="btn btn-secondary me-md-2">
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}